.book-column-info {
    margin: 2rem 0;

    .book-column-info-list {
        li {
            margin: 0.5rem 0;
        }

        dl {
            dt {
                font-weight: var(--font-weight-bold);
            }

            display: grid;
            grid-template-columns: 10rem 1fr;
        }
    }
}

.books-table-section {
    .books-table-header {
        margin-bottom: 1.5rem;
    }
}

.book-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 2.5rem;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    input, select {
        margin-bottom: 0;
    }
}