<nav class="main-nav">
  <ul class="nav-list">
    <li class="nav-link"><a href="/" title="Go to home page">Home</a></li>
    <li class="nav-link">
      <a href="/data/books" title="Browse library catalogue page">Catalogue</a>
    </li>
    <li class="nav-link">
      <a
              href="/data/authors"
              title="Browse all authors in the dataset"
      >Authors</a>
    </li>
    <li class="nav-link">
      <a
              href="/data/genres"
              title="Browse all genres in the dataset"
      >Genres</a>
    </li>
    <li class="nav-link">
      <a
              href="/data/endowments"
              title="Browse all endowments in the dataset"
      >Endowments</a>
    </li>
    <li class="nav-link">
      <a href="/openapi/">API Docs</a>
    </li>
  </ul>
</nav>

<hr>