:root {
  color-scheme: light dark;
  --color-parchment: #f6f2ea;
  --color-leather: #c29b87;
  --color-oak: #a97954;
  --color-manuscript: #1e423f;
  --color-binding: #532c2e;
  --color-crimson: #34000b;

  --body-color-secondary: light-dark(rgba(33, 33, 33, .75), rgba(222, 222, 222, .75));
}
